<div class="bg-black text-white">
    <div class="pt-[60px] md:pt-[104px] text-white flex flex-col md:flex-row justify-between items-center md:items-start gap-[40px] md:gap-[60px] px-[20px] md:ml-[160px] md:mr-[160px]">
        <!-- Company Info -->
        <div class="p-5 text-center md:text-start">
            <div class="text-sm text-white font-bold">
                <h1>{{'footer.Cyber'| translate}}</h1>
                <p class="w-full md:w-[200px] mt-[10px]">{{'footer.desc'| translate}}</p>
            </div>
        </div>

        <!-- services -->
        <div class="p-5 text-center">
            <h3 class="font-semibold mb-4">{{'footer.Services'| translate}}</h3>
            <ul class="flex flex-col gap-1">
                <li class="my-2"><p>{{'footer.Bonus_program'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Gift_cards'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Credit_and_payment'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Service_contracts'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Non-cash_account'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Payment'| translate}}</p></li>
            </ul>
        </div>

        <!-- Assistance to the buyer -->
       <div class="p-5 text-center">
            <h3 class="font-semibold mb-4">{{'footer.Assistance_to_the_buyer' | translate}}</h3>
            <ul class="flex flex-col gap-1">
                <li class="my-2"><p>{{'footer.Find_an_order'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Terms_of_delivery'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Exchange_and_return_of_goods'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Guarantee'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Frequently_asked_questions'| translate}}</p></li>
                <li class="my-2"><p>{{'footer.Terms_of_use_of_the_site'| translate}}</p></li>
            </ul>
        </div>
    </div>
    
    <!-- Social Icons -->
    <div class="flex py-[40px] md:py-5 px-[20px] md:mx-[160px] text-white text-sm flex-col md:items-start items-center">
        <div class="flex flex-row justify-center pb-[40px] md:pb-[104px] gap-[36px]">
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Twitter.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Facebook.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Tiktok.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Instagram.svg"/></a>
        </div>
    </div>
</div>