<div class="bg-black text-white">
    <div class="pt-[60px] md:pt-[104px] text-white flex flex-col md:flex-row justify-between items-center md:items-start gap-[40px] md:gap-[60px] px-[20px] md:ml-[160px] md:mr-[160px]">
        <!-- Company Info -->
        <div class="p-5 text-center md:text-start">
            <div class="text-sm text-white font-bold">
                <h1>Cyber</h1>
                <p class="w-full md:w-[200px] mt-[10px]">We are a residential interior design firm located in Portland. Our
                    boutique-studio offers more than</p>
            </div>
        </div>

        <!-- services -->
        <div class="p-5 text-center">
            <h3 class="font-semibold mb-4">Services</h3>
            <ul class="flex flex-col gap-1">
                <li class="my-2"><p>Bonus program</p></li>
                <li class="my-2"><p>Gift cards</p></li>
                <li class="my-2"><p>Credit and payment</p></li>
                <li class="my-2"><p>Service contracts</p></li>
                <li class="my-2"><p>Non-cash account</p></li>
                <li class="my-2"><p>Payment</p></li>
            </ul>
        </div>

        <!-- Assistance to the buyer -->
       <div class="p-5 text-center">
            <h3 class="font-semibold mb-4">Assistance to the buyer</h3>
            <ul class="flex flex-col gap-1">
                <li class="my-2"><p>Find an order</p></li>
                <li class="my-2"><p>Terms of delivery</p></li>
                <li class="my-2"><p>Exchange and return of goods</p></li>
                <li class="my-2"><p>Guarantee</p></li>
                <li class="my-2"><p>Frequently asked questions</p></li>
                <li class="my-2"><p>Terms of use of the site</p></li>
            </ul>
        </div>
    </div>
    
    <!-- Social Icons -->
    <div class="flex py-[40px] md:py-5 px-[20px] md:mx-[160px] text-white text-sm flex-col md:items-start items-center">
        <div class="flex flex-row justify-center pb-[40px] md:pb-[104px] gap-[36px]">
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Twitter.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Facebook.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Tiktok.svg"/></a>
            <a href="#" class="w-[16px] h-[16px] mx-1"><img src="Instagram.svg"/></a>
        </div>
    </div>
</div>