<Section class="grid grid-cols-2 gap-0">
    @if(products){
    <!-- left column -->
    <div class="flex flex-col text-black bg-[#FFFFFF] w-full">
        <!-- card 1 -->
        <div class="flex justify-between items-center w-full overflow-hidden">
            <div class="shrink-0">
                <img [src]="products[3].thumbnail" class="w-[280px] h-auto object-cover"/>
            </div>
            <div class="flex flex-col gap-[16px] px-[40px] py-[60px]">
                <h1 class="font-medium text-[49px] leading-[52px] tracking-tight">{{products[3].title}}</h1>
                <p class="text-[14px] leading-[24px] text-[#909090]">{{products[3].description}}</p>
            </div>
        </div>
        <!-- cards 2 & 3 side by side -->
        <div class="flex">
            <!-- card 2 -->
            <div class="flex-1 h-[272px] flex overflow-hidden bg-[#EDEDED]">
                <div class="w-[130px] shrink-0 h-full">
                    <img [src]="products[6].thumbnail" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col gap-[16px] px-[16px] py-[16px] flex-1 min-w-0 justify-center">
                    <h1 class="font-medium text-[20px] leading-[28px] truncate">{{products[6].title}}</h1>
                    <p class="text-[13px] leading-[20px] text-[#909090] line-clamp-3">{{products[6].description}}</p>
                </div>
            </div>
            <!-- card 3 -->
            <div class="flex-1 h-[272px] flex overflow-hidden bg-[#353535] text-white">
                <div class="w-[130px] shrink-0 h-full">
                    <img [src]="products[7].thumbnail" class="w-full h-full object-cover" />
                </div>
                <div class="flex flex-col gap-[16px] px-[16px] py-[16px] flex-1 min-w-0 justify-center">
                    <h1 class="font-medium text-[20px] leading-[28px] truncate">{{products[7].title}}</h1>
                    <p class="text-[13px] leading-[20px] line-clamp-3">{{products[7].description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- right column (card 5) -->
    <div class="flex justify-between items-center w-full bg-[#EDEDED] overflow-hidden">
        <div class="flex flex-col gap-[16px] px-[56px] py-[60px]">
            <h1 class="font-medium text-[49px] leading-[52px] tracking-tight">{{products[4].title}}</h1>
            <p class="text-[14px] leading-[24px] text-[#909090] max-w-[300px]">{{products[4].description}}</p>
        </div>
        <div class="shrink-0">
            <img [src]="products[4].thumbnail" class="w-[280px] h-auto object-cover"/>
        </div>
    </div>
    }
</Section>