<section class="bg-gradient-to-r from-[#211C24] to-[#211C24]">
    <div class="page pt-[188px] pb-[188px]">
        <!-- right side data -->
        @if(products){
            <div class="flex justify-between items-center">
            <div>
                <img [src]="products[0].thumbnail"/>
            </div>
                <div class="w-[714px] flex flex-col gap-[24px]">
                <div class="flex flex-col gap-[48px]">
                    <h1 class="font-thin text-[72px] leading-[72px] text-white spacing-[-1px]">Big Summer 
                        <span class="font-light text-[72px] leading-[72px] text-white">Sale</span>
                    </h1>
                    <p class="text-[18px] leading-[24px] text-[#909090]">Up to 60% off on all products. Don't miss out on this limited-time offer!</p>
                </div>
                <div class="flex mx-[188px]">
                    <button
                    [routerLink]="'/products'" 
                    class="h-[56px] py-[16px] px-[56px] border border-1 border-white rounded-[6px] text-white text-center font-semibold text-[16px] ">
                        show more
                    </button>
                </div> 
            </div>
            <!-- left side image -->
            <div>
                <img [src]="products[0].thumbnail"/>
            </div>
        </div>
        }
        
        
    </div>
</section>