.card-bg-0 {
    background-color: #FFFFFF;
}
.card-bg-1 {
    background-color: #F9F9F9;
}
.card-bg-2 {
    background-color: #EAEAEA;
}
.card-bg-3 {
    background-color: #2C2C2C;
    color: #FFFFFF;
}
