<!-- login.component.html -->
<div class="flex flex-col md:flex-row">

  <!-- ───────────── Left Panel ───────────── -->
  <div class="bg-[#00478D] text-white p-8 md:p-12 md:w-1/2 relative overflow-hidden flex flex-col">

    <!-- Logo -->
        <div class="flex gap-1 items-center mt-[50px]">
            <div class="w-5 h-5">
                <img src="shop-solid-full.svg" alt="logo image" class="filter brightness-0 invert"/>
            </div>
            <h2 class="text-xl m-0 p-0 content-center">{{'login.Cyber_E-commerce' | translate}}</h2>
        </div>

    <!-- Hero copy -->
    <div class="mt-10 z-10 relative">
      <h2 class="text-xl md:text-3xl font-bold mb-3">{{'login.Best_place_to_buy' | translate}} <span class="text-white">{{'login.your_required_Groceries' | translate}}</span></h2>
      <p class="font-semibold mb-5 opacity-90 w-[384px]">{{'login.desc' | translate}}</p>
      
    </div>

    <!-- Decorative: cloud icons -->
    <div class="mt-20">
        <div class="flex gap-5">
            <img src="shield.svg" alt="shield image" class="w-12 h-12"/>
            <div>
                <h4>{{'login.100%_Secure_Shopping' | translate}}</h4>
                <p>{{'login.end_to_end_encryption_for_all_your_data' | translate}}</p>
            </div>
        </div>
    </div>
  </div>

  <!-- ───────────── Right Panel ───────────── -->
  <div class="min-h-screen md:w-full flex items-center justify-center bg-slate-50">
   <div class="bg-white mx-4 p-8 rounded shadow-md w-full md:w-full lg:w-1/2">
            <h4 class="font-bold text-start text-2xl mb-2">{{'login.Welcome_Back' | translate}}</h4>
            <p class="mb-8 text-gray-600">{{'login.Enter_your_credentials_to_access_your_account' | translate}}</p>
            
            <form class="mt-6" [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <!-- UserName Input -->
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="userName">
                            {{'login.User_Name' | translate}}
                        </label>
                        <app-form-input 
                        [control]="loginForm.get('userName')!"
                        type="text"
                        InputplaceHolder="login.please_enter_your_user_name"
                        />
                        @if(loginForm.get('userName')?.touched && loginForm.get('userName')?.invalid){
                            <p class="text-red-500 text-xs mt-2">{{'login.please_enter_your_user_name' | translate}}</p>
                        }
                    </div>

                    <!-- Password Input -->
                    <div class="mb-6">
                        <label class="block text-gray-800 font-bold mb-2" for="password">
                            {{'login.password' | translate}}
                        </label>
                        <app-form-input 
                        [control]="loginForm.get('password')"
                        type="password"
                        InputplaceHolder="••••••••"
                        />
                        @if(loginForm.get('password')?.touched && loginForm.get('password')?.invalid){
                            <span class="text-red-500 text-xs mt-2">{{'login.password_is_required' | translate}}</span>
                        }
                    </div>

                    <!-- Login Button -->
                    <button class="bg-[#00478D] hover:bg-indigo-700 disabled:bg-gray-400 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full mt-6" 
                    type="submit"
                    [disabled]="loginForm.invalid"
                    >
                        {{'login.login' | translate}}
                    </button>
                </form>
        </div>
  </div>
</div>
