<div class="container mx-auto px-4 py-8">
  <button class="fixed top-20 left-4 z-50 bg-white rounded-full p-2 shadow-md hover:bg-gray-100" (click)="navigateBack()">
    <svg class="w-6 h-6 text-gray-700" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>
  <h2 class="text-3xl font-bold mb-8">{{'Cart.Shopping_Cart' | translate}}</h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <!-- left: Cart Items -->
    <div class="md:col-span-2">
      @if (cartService.items().length === 0) {
        <div class="text-center py-10">
          <p class="text-gray-500">{{'Cart.Your_cart_is_empty' | translate}}.</p>
        </div>
      } @else {
        @for (item of cartService.items(); track item.id){
         <section class="md:flex justify-between items-center">
          <!-- image, title and barcode -->
            <div class="flex items-center">
                <div class="px-2 py-2 text-left align-top">
                <img
                  [src]="item.thumbnail"
                  [alt]="item.title"
                  class="w-[100px] mr-2 inline-block h-[100px]"
                />
              </div>
              <div class="gap-[8px] w-[196px]">
                <span>{{item.title}}</span>
                <p>{{item.meta.barcode}}</p>
              </div>
            </div>

            <!-- quantity -->
             <div class="flex items-center">
                  <div
          class="p-2 bg-white w-[150px] h-14 flex md:justify-center items-center gap-2"
        >
          <button class="w-[34px] h-[34px] px-2.5"
            (click)="decrement(item)">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.33398 7H11.6673"
                stroke="#666666"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
          <input
            type="number"
            [(ngModel)]="item.quantity"
            min="1"
            [max]="item.stock"
            [value]="item.quantity || 1"
            class="w-10 text-center text-[#191919] text-base font-normal leading-normal"
          />
          <button 
              class="px-2.5 w-[34px] h-[34px]"
              [disabled]="(item.quantity || 1) >= item.stock"
              (click)="increment(item)">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.33398 6.99998H11.6673M7.00065 2.33331V11.6666V2.33331Z"
                stroke="#1A1A1A"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </button>
          </div>
          <div class="px-2 py-2">{{cartPrice(item) | currency: 'EGP'}}</div>
          <button (click)="deleteItem(item.id)" class="text-red-500 hover:text-red-700">
                <img src="Close.svg" alt="delete item icon"/>
              </button>
             </div>
           
         </section>
        }
        
      }
    </div>
    <!-- right: Order Summary -->
    <div class="md:col-span-1 md:h-[656px]">
      <div class="bg-white p-6 rounded-lg shadow-sm border border-gray-200">
          <form [formGroup]="orderForm">
            <h3 class="text-xl font-semibold mb-4">{{'Cart.Order_Summary' | translate}}</h3>
          <div class="flex flex-col pt-[40px] mb-[24px] gap-[8px]">
              <label class="text-[#7f7f7f] text-lg">{{'Cart.Discount_code' | translate}}</label>
                <app-form-input 
                  formControlName="promoCode"
                  [InputplaceHolder]="'Cart.Enter_promo_code' | translate"
                  [inputClasses]="'w-full h-[56px] bg-white text-gray-900 border-2 border-[#9F9F9F] rounded-[7px] p-[20px]'"
                />
          </div>
          @if(orderForm.get('promoCode')?.hasError('required') && orderForm.get('promoCode')?.touched){
                        <span class="text-red-500 pt-0.5">{{'Cart.this_input_is_required' | translate}}</span>
                     }
            <div class="flex flex-col gap-[8px]">
                <label class="text-[#7f7f7f] text-lg">{{'Cart.Your_bonus_card_number' | translate}}</label>
                <div class="relative flex items-center">
                    <app-form-input 
                      formControlName="bonusCard"
                      [InputplaceHolder]="'Cart.Enter_card_number' | translate"
                      [inputClasses]="'absolute w-full h-[56px] bg-white text-gray-900 border-2 border-[#9F9F9F] rounded-[7px] p-[20px]'"
                    />
                <button class="absolute right-2 top-3 rounded-md bg-white text-black border-2 border-black px-3 py-1 text-sm font-semibold hover:bg-black hover:text-white transition">apply</button>
                </div>
                @if(orderForm.get('bonusCard')?.hasError('required') && orderForm.get('bonusCard')?.touched){
                        <span class="text-red-500 pt-0.5">{{'Cart.this_input' | translate}}</span>
                     }
            </div>
          </form>
          <!-- subtotal -->
        <div class="flex justify-between mb-2 mt-5">
          <span class="text-black font-semibold text-[16px] leading-[24px]">{{'Cart.SubTotal' | translate}}</span>
          <span class="font-medium text-[16px] leading-[24px]">{{ cartService.cartTotalAmount() | currency: 'EGP' }}</span>
        </div>
        <!-- taxes -->
         <div class="flex justify-between mb-2 mt-5">
          <span class="text-[#545454] font-normal text-[16px] leading-[32px]">{{'Cart.Estimated_Tax' | translate}}</span>
          <span class="text-black font-normal text-[16px] leading-[32px]">{{tax | currency: 'EGP'}}</span>
        </div>
        <!-- estimated shopping && handling -->
         <div class="flex justify-between mb-2 mt-5">
          <span class="text-[#545454] font-normal text-[16px] leading-[32px]">{{'Cart.Estimated_Shopping_&_Handling' | translate}}</span>
          <span class="text-black font-normal text-[16px] leading-[32px]">{{shippigValue | currency: 'EGP'}}</span>
        </div>
        <div class="flex justify-between text-xl font-bold mt-4 pt-4">
          <span>{{'Cart.discount_applied' | translate}}:</span>
          <span>{{ discount | currency: 'EGP' }}</span>
        </div>
        <div class="flex justify-between text-xl font-bold mt-4 pt-4">
          <span>{{'Cart.Total' | translate}}:</span>
          <span>{{ FinalTotalAmout | currency: 'EGP' }}</span>
        </div>
        <button 
        (click)="navigateToCheckout()"
        class="w-full mt-6 bg-black text-white py-3 rounded-md hover:bg-gray-800 transition">
          {{'Cart.Checkout' | translate}}
        </button>
      </div>
    </div>

    
  </div>
</div>