<section class=" md:my-10">
    <h1 class="text-center md:text-start font-medium text-[24px] leading-[32px] mb-[32px]">{{'announcement.Discounts_up_to_20%' | translate}}</h1>
    <!-- Products Grid -->
    <div class="grid grid-cols-2 gap-[16px] px-[16px] md:gap-[24px] md:px-0 md:grid-cols-4">
        @for (product of products.filter(p => p.discountPercentage >= 5).slice(0,4); track product.id) {
            <app-product-card 
                [product]="product" 
                [showDetailsBtn]="false"
                (addToCart)="addTocart($event)"
            />
        }@empty {
            <div appEmptysection>
                <h1>{{'announcement.Products_unavailable' | translate}}</h1>
            </div>
        }
    </div>
</section>