<section class="md:mr-[160px] md:ml-[160px] mt-[300px] md:my-10">
    <!-- Category Tabs -->
    <div class="flex justify-between w-full md:px-0 md:justify-start gap-4 mb-6">
        @for (cat of categories.slice(0, 3); track cat.name) {
            <button 
                (click)="onCategorySelect(cat.slug)"
                [class.underline-offset-4]="selectedCategories.includes(cat.slug)"
                [class.underline]="selectedCategories.includes(cat.slug)"
                class="px-4 py-2">
                {{cat.name}}
            </button>
        }
    </div>

    <!-- Products Grid -->
    <div class="grid grid-cols-2 gap-[16px] px-[16px] md:gap-[24px] md:px-0 md:grid-cols-4">
        @for (product of filteredProducts; track product.id) {
            <app-product-card 
                [product]="product" 
                [showDetailsBtn]="false"
                (addToCart)="onAddToCart($event)"
            />
        }
    </div>
</section>